{% extends "layout.html" %}
{% block content %}
<div class="container">
	<h1 class="cats national"><a href="/category/national">قومی</a></h1>
	<h1 class="cats international"><a href="/category/international">بین الاقوامی</a></h1>
	<h1 class="cats entertainment"><a href="/category/entertainment">تفریح</a></h1>
	<h1 class="cats daily-bites"><a href="/category/daily-bites">ڈیلی بائیٹس</a></h1>
	<h1 class="cats sports"><a href="/category/sports">کھیل</a></h1>
	<h1 class="cats science-and-technology"><a href="/category/science-and-technology">سائنس اور ٹیکنالوجی</a></h1>
	<h1 class="cats education-and-health"><a href="/category/education-and-health">تعلیم و صحت</a></h1>
	<h1 class="cats columns"><a href="/category/columns">کالم</a></h1>
</div>
{% endblock %}