{% extends "layout.html" %}
{% block title %}
		<title>Telenor News</title>
{% endblock %}
{% block content %}
		<div class="container">
		{% for news in news %}
			<article id="{{news.news_id}}" class="story">
				<p class="category {{news.category_name|replace(' ','_')}}">{{ news.category_name }}</p>
				<h1 class="headline"><a href="/c/d/{{news.news_id}}/">{{ news.news_title }}</a></h1>
				<p class="date">{{news.date_published}}</p>
				<a href="/c/d/{{news.news_id}}/"><img class="thumb" src="{{ news.primary_img_path }}" alt=""></a>
			</article>
		{% endfor %}
		</div>
{% endblock %}