{% extends "layout.html" %}

{% block title %}
		<title>{{ news.news_title }} - Telenor News</title>
{% endblock %}

{% block content %}
<div class="container">
	<p class="category {{news.category_name|replace(' ','_')}}">{{ news.category_name }}</p>
	<h1>{{ news.news_title }}</h1>
	<p class="date">{{news.date_published}}</p>
	<div class="img-container"><img src="{{ news.primary_img_path|replace('_small', '_medium')|replace('dailypakistan.com.pk', 'telenornews.pk') }}" alt=""></div>
	<div class="content">{{ news.news_content|safe|replace('dailypakistan.com.pk', 'telenornews.pk') }}</div>
	<span class="dot {{status}}">&#9679;</span>
</div>
{% endblock %}